<div class="flex justify-center mt-6">
  <button class="nav-item" routerLink="dashboard" routerLinkActive="nav-item-active">Dashboard</button>
  <button class="nav-item" routerLink="basic-structure" routerLinkActive="nav-item-active">Basic Structure</button>
  <button class="nav-item" routerLink="tax-exemption" routerLinkActive="nav-item-active">Tax Exemptions</button>
  <button class="nav-item" routerLink="tax-deduction" routerLinkActive="nav-item-active">Tax Deductions</button>
  <button class="nav-item" routerLink="taxes" routerLinkActive="nav-item-active">Taxes</button>
</div>
